    /* List of Fonts */
    :root{
        --font-1: 'Tahoma';
        --font-2: 'Trebuchet MS';
        --font-3: 'Big Caslon';
        --font-4: ;
    }


    /* Theme Colours */
    :root{
        --dark-gray: #1f1f1f;
        --dirty-white: #c1c1c1;
        --dark-cyan: #244143;
        --light-cyan: #366064;
        --light-gray: #b8b8b8;
        --silver: #717171;
        --teal: #28c3d1;
        --pale-teal: #3f6f73;
        --light-teal: #5b9ca3;
        --snow: #dadada;
        --heather: #292929;
        --gray: #3a3a3a;
        --gold: #f4d47c;
        --peach: #e7bfa6;
        --cyan: #43e3f3;
        --periwinkle: #9bb7ff;
    }


    /* Default Theme*/
    :root{
        --bg: var(--dark-gray);
        --text: var(--dirty-white);
        --paragraph-font: var(--font-1);
        --heading-font: var(--font-2);
        --nav-bg: var(--light-cyan);
        --title-bg: var(--dark-cyan);
        --link: var(--light-gray);
        --visited: var(--silver);
        --hover: var(--teal);
        --button-bg: var(--pale-teal);
        --button-hover-bg: var(--light-teal);
        --button-hover-text: var(--snow);
        --project-bg: var(--heather);
        --project-container-bg: var(gray);
    }


    /* Default Body - Changes based on 'Theme' variable */
    body{
        background-color: var(--bg);
        color: var(--text);
        font-family: var(--paragraph-font), sans-serif;
        margin: 0;
        text-align: center;
    }

    /* AS THEMES ARE CREATED, THEY CAN BE FOUND HERE */

    /* 2025 THEME */
    /* --> At the moment this matches the default theme */
    /* The 2025 theme is also the default/fallback theme */
    body[theme="2025"]{
        --bg:#1f1f1f;
        --text: #c1c1c1;
        --paragraph-font: 'Tahoma';
        --heading-font: 'Trebuchet MS';
        --nav-bg: #366064;
        --title-bg: #244143;
        --link: #b8b8b8;
        --visited: #717171;
        --hover: #28c3d1;
        --button-bg: #3f6f73;
        --button-hover-bg: #5b9ca3;
        --button-hover-text: #dadada;
        --project-bg: #292929;
        --project-container-bg: #3a3a3a;
    }

    /* WINTER THEME */
    body[styling="winter"]{
        --bg:#c6c6c6;
        --text: #6d6d6d;
        --paragraph-font: 'Tahoma';
        --heading-font: 'Trebuchet MS';
        --nav-bg: #99d9df;
        --title-bg: #c6c6c6;
        --link: #b8b8b8;
        --visited: #717171;
        --hover: #68cdaf;
        --button-bg: #6ab9b7;
        --button-hover-bg: #5b9ca3;
        --button-hover-text: #dadada;
        --project-bg: #232441;
        --project-container-bg: #b5b5b5;
    }

    /* Default Paragraph Font */
    p{
        font-family: var(--paragraph-font);
    }


    /* Navigation Bar */
    .navBar{
        width: 100%;
        font-family: var(--heading-font);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--nav-bg);
    }


    /* Navigation Bar - Buttons */
    .navButtons{
        display: flex;
        gap: 0;
    }


    /* Navigation Bar - Icon */
    .navIcon{
        max-height: 35px;
        width: auto;
        display: block;
    }


    /* Navigation Bar - Social Icons */
    .socialIcon{
        max-height: 16px;
        width: auto;
        display: block;
    }


    /* Navigation Bar - Social Div */
    .navSocial{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }


    /* Navigation Bar - Right Div */
    .navRightDiv{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }


    /* Title Bar */
    .titleBar *{
        width: 100%;
        font-family: var(--heading-font);
        font-size: 24px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: var(--title-bg);
        margin: 0;
        height: 50px;
    }


    /* Links */
    a{
        text-decoration: none;
    }

    a:link{
        color: var(--link);
    }

    a:visited{
        color: var(--visited);
    }

    a:hover{
        color: var(--hover);
    }


    /* Small Text */
    small{
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 0.5em 0.5em;
    }


    /* Buttons */
    button{
        padding: 0.75em 1em;
        text-align: center;
        border-style: none;
        background-color: var(--button-bg);
        font-family: var(--paragraph-font);
        font-size: 16px;    
    }


    button:hover{
        background-color: var(--button-hover-bg);
        color: var(--button-hover-text);
        font-weight: bold;
        font-family: var(--heading-font);
    }


    /* Project Div */
    .project{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        padding: 20px;
        margin: 5px;
        background-color: var(--project-bg);
        display: flex;
    }


    /* Project Container */
    .projects{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5px;
        padding: 7px;
        border-radius: 20px;
        margin: 7px;
        background-color: var(--project-container-bg);
    }


    /* Project Banner */
    .projectBanner{
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 29%;
        background-color: var(--title-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text);
    }


    /* Project Hover */
    .project:hover{
        transform: scale(1.025) translateY(-2px);
        box-shadow: 0 4px 10px rgba(0,0,0,0.35);
        border: var(--light-cyan);
        border-style: groove;
        color: var(--periwinkle);
    }


    /* User Info Container */
    .userInfo{
        display: flex;
        align-items: flex-start;
        gap: 16px;

        padding: 16px 20px;
        margin: 20px auto;

        max-width: 520px;
        min-width: 280px;

        background-color: var(--project-bg);
        border-radius: 18px;

        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35)
    }


    /* User Info Avatar */
    .userInfoAvatar{
        height: 80px;
        width: 80px;
        flex-shrink: 0;
    }


    /* User Info Avatar - img */
    .userInfoAvatar img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }


    /* User Info Text */
    .userInfoText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        gap: 4px;
    }


    /* User Info Text - p */
    .userInfoText p{
        margin: 0;
        font-size: 13px;
        color: var(--light-gray);
    }


    /* User Info Text - h3 */
    .userInfoText h3{
        margin: 0;
        white-space: nowrap;
        font-family: var(--heading-font);
        font-size: 20px;
    }


    /* User Info Text - Divs */
    .userInfoText > div{
        margin-bottom: 8px;
    }


    /* General Card */
    .card{
        background-color: var(--project-bg);
        border-radius: 18px;
        padding: 7px;
        margin: 2px 0   ;
        max-width: 900px;
    }


    /* Skills */
    .skills{
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        align-items: flex-start;
    }


    /* Skills - Caption */
    .skills h4{
        margin: 0 0 4px 0;
        font-size: 14px;
        margin-top: 0px;
    }


    /* Pill Shape - for use with general cards */
    .pillShape{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 4px 10px;
        border-radius: 999px;

        color: var(--text);

        font-size: 13px;
        line-height: 1;
        white-space: nowrap;

        background-color: var(--button-bg);
        color: var(--dark-gray);
        font-family: var(--heading-font);
    }


    /* Contact Form */
    .contactForm{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }


    /* Contact Form - Input */
    .contactForm input,
    .contactForm textarea{
        padding: 8px 10px;
        border: 8px;
        border: 1px solid var(--light-gray);
        font-family: var(--paragraph-font);
        font-size: 14px;
        background-color: var(--bg);
        color: var(--text);
        resize: vertical;
    }


    /* Contact Form - Textboxes */
    .contactForm textarea{
        max-height: 100px;
    }


    /* Contact Form - Buttons */
    .contactForm button{
        align-self: flex-start;
    }


    /* Resume Card */
    .resumeCard button{
        padding: 10px 16px;
        font-size: 14px;
    }