:root{
    --bg: #2a1d4a;
    --text: #eaeaea;
    --font: "Courier New", Courier, monospace;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

.customButtons{
    border-color: #bab111;
    font-family: var(--font);
    display: flex;
}

.buttonDiv{
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 7px;
    background-color: #707070;
    border-style: none;
}