:root{
    --bg: #1f1f1f;
    --text: #c1c1c1;
    --headings: 'Tahoma';
    --paragraphs: 'Trebuchet MD';
}

body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--headings);
}

p{
    font-family: var(--paragraphs);
}

/* Navigation Bar */
.navBar{
    font-family: var(--headings);
    display: flex;
}

/* Links */
a{
    text-decoration: none;
}

a:link{
    color: #b8b8b8;
}

a:visited{
    color: #717171;
}

a:hover{
    color: #28c3d1;
}

/* Small Text */
small{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0.5em 0.5em;
}

/* Buttons */
button{
    padding: 0.25em 0.5em;
    text-align: center;
    border-style: none;
    background-color: #1e3638;
    font-family: 'Tahoma';
}

button:hover{
    background-color: #417378;
    color: #aaaaaa;
    font-weight: bold;
    font-family: 'Trebuchet MD';
}