:root{
    --bg: #2a1d4a;
    --text: #eaeaea;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

.customButtons{
    background-color: #4f879f;
    border-radius: 2px;
    border-color: #1d28bc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttonDiv{
    width: 100%;
    overflow: auto;
    display: flex;
    gap: 7px;
    background-color: #707070;
    border-style: none;
}